body{
    background-color: #3ABEF9;
    height: 100%;
}
form{
    width: 28%;
    margin: auto;
    padding-top: 150px;
}    
.bg{
    background-color: #A7E6FF;
}
.btn-color{
    background-color: #3572EF;
    border: none;
}
.nav-link{
    margin-right: 10px;
}